* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* SECTION */
header {
  background-color: lightblue;
  height: 100px;
  padding: 20px;
}

.top {
  background-color: blue;
  padding: 20px;
}

.middle {
  height: 500px;
  padding: 20px;
}


/* CONTENITORI */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.top-container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  /* padding: 20px; */
  border: 2px dashed black;
  height: 400px;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 400px;
}


/* LAYOUT */
.col-20 {
  width: 20%;
  padding: 20px;
  text-align: center;
  border: 2px dashed black;
}

.col-60 {
  width: 60%;
  padding: 20px;
  text-align: center;
  border: 2px dashed black;
}

.col-40 {
  width: 40%;
  padding: 20px;
  text-align: center;
  border: 2px dashed black;
}


/* COLORI */
.bg-yellow {
  background-color: yellow;
}

.bg-pink {
  background-color: rgb(255, 52, 177);
}

.bg-gray {
  background-color: gray;
}

.bg-navy {
  background-color: rgb(33, 118, 255);
}

.bg-rose {
  background-color: pink;
}